

<nav mat-tab-nav-bar>
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="header">
        <h1>eVitalRX</h1>
        <button mat-icon-button (click)="toggleDrawer()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      
   
      <span class="fill-space"></span>
      <div class="middle-section">
        <div fxHide.lt-sm fxShow.gt-sm>
          <button mat-button>Menu</button>
          <button mat-button>About</button>
          <button mat-button>Contact Us</button>
          <button mat-button>Support</button>
        </div>
      </div>
      <span class="fill-space"></span>
      <button mat-button color="primary" [routerLink]="['/login']">Login</button>
     
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
<div class="sidebar" [class.open]="isSidebarOpen">
  <div class="sidebar-header">
    <h3>eVitalRX</h3>
    <button mat-icon-button (click)="toggleDrawer()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <ul class="sidebar-menu">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li>
      <!-- <a routerLink="/get-patient" routerLinkActive="active">Get Patient</a> -->

    </li>
    <li>
      <a routerLink="/add-patient" routerLinkActive="active">Add Patient</a>
      
    </li>

  </ul>
</div>
  <div *ngIf="showSuccessMessage" class="success-message">
    Patient registered successfully!
  </div>
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()" class="patient-form">
    <h2 class="form-title">Add Patient</h2>
    <div class="form-group">
      <label for="zipcode">Zip Code:</label>
      <input type="text" formControlName="zipcode">
    </div>
    <div class="form-group">
      <label for="mobile">Mobile Number:</label>
      <input type="text" formControlName="mobile">
    </div>
    <div class="form-group">
      <label for="first_name">First Name:</label>
      <input type="text" formControlName="first_name">
    </div>
    <div class="form-group">
      <label for="last_name">Last Name:</label>
      <input type="text" formControlName="last_name">
    </div>
    <div class="form-group">
      <label for="dob">Date of Birth:</label>
      <input type="date" formControlName="dob">
    </div>
    <div class="form-group">
      <label for="gender">Gender:</label>
      <input type="text" formControlName="gender">
    </div>
    <div class="form-group">
      <label for="blood_group">Blood Group:</label>
      <input type="text" formControlName="blood_group">
    </div>
    <button type="submit" [disabled]="!patientForm.valid">Submit</button>
  </form>
  